
<div id="base">
  <app-top-bar [productsCart]="productsCart" (carritoClickeado)="mostrarCarrito = true" (volverClickeado)="volver()"></app-top-bar>
  <p>Moneda</p>
  <div id="currency">
    <img [class.selected]="selectedCurrency === 'us'" src="../assets/eeuu.jpg" alt="EEUU" (click)="selectCurrency('us')">
    <img [class.selected]="selectedCurrency === 'eu'" src="../assets/ue.png" alt="Europa" (click)="selectCurrency('eu')">
    <img [class.selected]="selectedCurrency === 'ar'" src="../assets/Bandera-Argentina.png" alt="Argentina" (click)="selectCurrency('ar')">
  </div>

  <div id="container">
    <ng-container *ngIf="datos_cargados">
      <div class="card-container">
        <div class="row" *ngIf="!mostrarCarrito">
          <div class="card-wrapper" *ngFor="let product of products">
            <app-item-card [productsCart]="productsCart" [product]="product" [selectedCurrency]="selectedCurrency" class="card"></app-item-card>
          </div>
        </div>
        <div *ngIf="mostrarCarrito">
          <app-carrito-compras [productsCart]="productsCart" (volverClickeado)="volver()"></app-carrito-compras>
        </div>
      </div>
    </ng-container>
  </div>
</div>


<router-outlet></router-outlet>
